<mat-card>
	<mat-card-header>
		<mat-card-title>{{user.name}}</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-label>Email cím</mat-label>
		<mat-label>{{user.email}}</mat-label>
	</mat-card-content>
	<mat-card-actions>
		<form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
			<mat-form-field>
				<mat-label for="name">Új név</mat-label>
				<input matInput type="text" formControlName="name" value="{{user.name}}" />
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit">Új felhasználónév</button>
		</form>
	</mat-card-actions>
</mat-card>